<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="teddy" class="org.lee.teddy.Human">
        <property name="name" value="Teddy"/>
    </bean>

    <bean id="bob" class="org.lee.teddy.Human" p:name="Bob"/>

    <bean id="hello" class="java.lang.String" c:_0="Hello world!"/>
</beans>